<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo Full stack App</title>
    <script src="bower_components/angular/angular.js"></script>
</head>
<body>
<div ng-app="todoFullstack">
    <todo-app></todo-app>
</div>
<script src="assets/sampleTodos.js"></script>
<script src="index.js"></script>
<script src="components/app.js"></script>
<script src="components/todoInput.js"></script>
<script src="components/todoList.js"></script>
<script src="components/todoListItem.js"></script>
</body>
</html>